<div class="chat-container" (click)="onClick()" id="{{chat.id}}" 
[ngClass]="{'active': userService.selectedChat.id === chat.id}">
    <div class="d-flex p-1 m-1">
        <div>
            <img src="{{displayedImageUrl}}" alt="chatPhoto" 
           />
        </div>
        <div>
            <p>{{displayedGroupName}}</p>
            <span style="text-overflow:ellipsis" *ngIf="chat.messages.length !== 0">
                {{chat.messages[chat.messages.length - 1].sender.name}} :</span>
            <span style="text-overflow:ellipsis;" *ngIf="chat.messages.length !== 0">
                {{chat.messages[chat.messages.length - 1].text}}</span>
        </div>
    </div>
</div>


