img{
    clip-path: circle();
    height: 40px;
    margin:7px;
}

.sender-name{
    color:red;
}
p{
    word-break: break-all;
    white-space: normal;
}
.my-message-text{
    background-color: coral;
}

.message-text, .my-message-text{
    min-width: 100px;
    text-overflow:clip;
    max-width: 500px;
    
    padding: 4px;
    border-radius: 4px;
    font-size:14px;
}

.message-text{
    background-color: lightcyan;
}

.selected-message{
    background-color: cornflowerblue;
}

.sent-date{
    text-align: end;
}